# SPDX-FileCopyrightText: 2022 Shinoda Eiji, <syuilotan@yahoo.co.jp>, et al.
#
# SPDX-License-Identifier: AGPL-3.0-only

[submodule "misskey-assets"]
	path = misskey-assets
	url = https://github.com/misskey-dev/assets.git
